# Libvirt Connection
libvirt_uri = "qemu:///system"

# VM Spec (Locked Values)
vm_name      = "k3s-worker-1"
memory_mb    = 4096
vcpu_count   = 2
disk_size_gb = 30

# Image
base_image_url = "https://cloud.debian.org/images/cloud/bookworm/latest/debian-12-genericcloud-amd64.qcow2"

# Network
bridge_interface = "br0"

# SSH Key (Update this path to your real key)
ssh_public_key_path = "~/.ssh/id_rsa.pub"
